/* CSS Document */
/*公用*/
.comwidth{width:1000px; margin:0 auto;}
.leftarea{float:left;}
.rightarea{float:right;}
a{color:#666666; text-decoration:none;}
a:hover{color:red;}
/*topBar*/
.topBar{background:#F7F7F7; height:31px; line-height:31px;}
.collection{text-align:center; background:url(coin/1.首页_r2_c2.gif) top left no-repeat; padding-left:19px; font-weight:bold;} 

/*logobar*/
.logobar{background-color:#1D7AD9;height:85px;}
.logo{margin-left:41px; margin-top:13px; float:left; border:none;}

/*search_box*/
.search_box{width:430px; padding-left:185px; padding-top:22px; float:left;}
.search_text{width:350px; height:35px; line-height:35px\9; padding:0 5px; background-color:#FFFFFF; border:none; float:left;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"宋体"; background-color:#FF8C00; color:#fff; border:none; float:right;}

/*shopcar*/
.shopcar{font:14px/35px "宋体";color:#fff;width:145px; height:35px; background-color:#FF8C00; margin-right:60px; margin-top:22px; float:right;}
.shoptext{ width:87px; height:100%; border-right:#E27A00 solid 1px; text-indent:40px;  background:url(coin/1.首页_r5_c6.gif) 10px center no-repeat; float:left; }
.shopnum{width:27px; height:100%; background:url(coin/1.首页_r6_c8.gif) 33px center no-repeat; float:left; text-align:right; padding-right:29px}